:root {
  --color-text: #2e2f42;
  --color-text-input: #9e9c9c;
  --bg-color: #e7e9fc;
  --bg-form: #a3d0c3;
  --bg-input: #f9f0da;
  --color-btn: #7ba7ab;
  --acent-btn: #2c6d73;
}

/**
  |========================================================
  |            Глобальні стилі  нормалізація та reset
  |========================================================
*/

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);

  background-color: var(--bg-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

/**
  |==================================================
  |                    Форма з пошуком
  |==================================================
*/

.form-container {
  padding: 30px 0;
  margin-bottom: 20px;

  background: var(--bg-form);
}
.search-form {
  position: relative;

  width: 300px;
  margin: 0 auto;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid var(--color-btn);
  border-radius: 5px;
  outline: none;
  background: var(--bg-input);
  color: var(--color-text-input);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  color: var(--color-text);
  background-color: var(--bg-color);
  border-color: var(--color-text-input);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.5);
}

.btn-search {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: var(--color-btn);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.btn-search:focus,
.btn-search:hover {
  background-color: var(--acent-btn);
}

.btn-search:before {
  content: '\f002';
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}

/**
  |==================================================
  |                    Cітка з картками
  |==================================================
*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
}

.photo-card {
  flex-basis: calc((100% - 20px * (4 - 1)) / 4);
  background-color: var(--bg-input);
  border: 1 solid #e7e9fc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.gallery-link {
  color: #212529;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 3px;
}

.info-item {
  flex-basis: calc((100% - 5px * (4 - 1)) / 4);
}
.item-text {
  font-weight: 500;
}

/* .btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  cursor: pointer;
  border: 1px solid #bdbdbd;
  background-color: #eee;
  padding: 2px 5px;
  font-size: 13px;
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #bdbdbd;
} */

/**
  |==================================================
  |                    Кнопка Load More
  |==================================================
*/

.load-more {
  display: block;
  background-color: var(--color-btn);
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  padding: 15px 32px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.load-more-hidden {
  display: none;
}

.load-more:focus,
.load-more:hover {
  color: whitesmoke;
  background-color: var(--acent-btn);
}
