* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.form-container {
  display: flex;
  height: 50px;
  background-color: #8a2be2;
  margin-bottom: 20px;
  justify-content: center;
}

.search-form {
  padding: 11px;
}

input {
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #e7e9fc;
  background: #f6f6f6;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.5);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

.photo-card {
  flex-basis: calc((100% - 20px * (4 - 1)) / 4);
  border: 1 solid #e7e9fc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 3px;
}

.info-item {
  flex-basis: calc((100% - 5px * (4 - 1)) / 4);
}
.item-text {
  font-weight: 500;
}

.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  cursor: pointer;
  border: 1px solid #bdbdbd;
  background-color: #eee;
  padding: 2px 5px;
  font-size: 13px;
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
}

.btn:hover {
  background-color: #bdbdbd;
}

.load-more {
  background-color: #8a2be2;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.load-more-hidden {
  display: none;
}
